#!/usr/bin/make -f

CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

export CFLAGS
export CPPFLAGS
export CXXFLAGS
export LDFLAGS

%:
	dh $@ --parallel

override_dh_auto_build:
	scons
	dh_auto_build

override_dh_auto_clean:
	scons -c
	rm -f .sconsign.dblite
	dh_auto_clean
